.grid {
	display: grid;
	color: white;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	grid-auto-rows: 1fr;
	height: 90vh;
}

.grid > * {
	overflow: auto;
}

.do {
	background: green;
}
.schedule {
	background: orange;
}
.deligate {
	background: blue;
}
.delete {
	background: red;
}
